<h1 id="tableLabel">Latest Fundings Available - Engel & Volkers</h1>
<br />
<p> Add investment to any project fromt the list</p>
<br />

<p *ngIf="!fundings"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="fundings">
  <thead>
      <tr>
          <th>Date</th>
          <th>Project Name (C)</th>
          <th>Area</th>
          <th>Description</th>
          <th>PurchasePrise</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let funding of fundings">
          <td>{{ funding.date.split('T')[0] }}</td>
          <td>{{ funding.projectName }}</td>
          <td>{{ funding.area }}</td>
          <td>{{ funding.description }}</td>
          <td>{{ funding.purchasePrice }}</td>
      </tr>
  </tbody>
</table>
